extends ../layout

block content
  .container.item-show
    br
    .show-title
      h3.text-center 
        strong #{item.title}
    hr
    p.price 가격: 1인당 #{item.price}원
    p.max_num 최대인원 : #{item.max_num}명
    p.guide 가이드: #{item.guide.name}
    p.country 국가: #{item.place[0]}
    p.city 도시: #{item.place[1]}
    p.d_date-a_date 여행일자: #{moment(item.d_date).format('YYYY-MM-DD')} ~ #{moment(item.a_date).format('YYYY-MM-DD')}
    p.p_date 등록일자: #{moment(item.p_date).format('YYYY-MM-DD HH:mm')}

    hr
    p.text-center
      strong 상품 소개
    p.i_info.text-center #{item.i_info}
    ul
      p.text-center
        strong 코스 소개
      each val, index in item.c_info
        li= (index+1) + '일차: ' + val
        br

    hr

    h5.item-review 
      strong 고객 리뷰

  nav.navbar.fixed-bottom.navbar-expand-sm
    if (!currentUser)
      a.btn.btn-primary.btn-lg.btn-block.reserve-btn(href=`/signin`) 예약하기
    else if (currentUser.group == 1)
      a.btn.btn-primary.btn-lg.btn-block.reserve-btn(href=`/reservations/form/${item.id}`) 예약하기
    else
      a.btn.btn-primary.btn-lg.btn-block.registration-edit-btn(href=`/items/${item.id}/edit`) 수정하기
   
